<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iyungu.mall.dao.PatientVisitMapper">
    <resultMap id="BaseResultMap" type="com.iyungu.mall.bean.po.PatientVisit">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="processed_id" jdbcType="VARCHAR" property="processedId"/>
        <result column="applicant_name" jdbcType="VARCHAR" property="applicantName"/>
        <result column="applicant_department" jdbcType="VARCHAR" property="applicantDepartment"/>
        <result column="applicant_bednum" jdbcType="VARCHAR" property="applicantBednum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="visit_status" jdbcType="INTEGER" property="visitStatus"/>
        <result column="oper_user_id" jdbcType="BIGINT" property="operUserId"/>
        <result column="oper_time" jdbcType="TIMESTAMP" property="operTime"/>
        <result column="oper_remark" jdbcType="VARCHAR" property="operRemark"/>
        <result column="visit_begin_time" jdbcType="TIMESTAMP" property="visitBeginTime"/>
        <result column="visit_end_time" jdbcType="TIMESTAMP" property="visitEndTime"/>
        <result column="visit_duration" jdbcType="INTEGER" property="visitDuration"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="NOW()" property="currentTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, processed_id, applicant_name, applicant_department, applicant_bednum, create_time,
        visit_status, oper_user_id, oper_time, oper_remark, visit_begin_time,
        visit_end_time, visit_duration, uuid
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from patient_visit_table
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>